@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    box-sizing: border-box;
    font-family: 'Gilroy',sans-serif;
    margin: 0;
}
header{
    background-image: url('/images/Bitmap.png');
    top: 0;
   
    height: 801px;
}
.hdr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   align-items: center;
   align-content: center;
   width: 1189px;
   height: 50px;
   margin-left: 166px;
   margin-top: 16px;

}
.hdr h1{
    font-family: 'Rubik',sans-serif;
    font-size: 24px;
}
.hdr ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bold;
    padding-left:  49px;
    width: 333px;
}
.hdr li{
    width: 33%;
}
.btn{
    width: 209px;
    height: 50px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #473BF0;
    border: none;
    margin-left: 38%;
}
.intro-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 119px;
    margin-left: 244px;
    gap: 107px;
    position: relative;
}
.intro-text{
    width: 541px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.intro-text > *:not(button){
    padding-bottom: 25px;
    margin: 0;
}
.intro-text span{
    display: inline-block;
    font-size: 13px;
    color: #F64B4B;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 1.63px;
}
.intro-text h2{
     font-size: 60px;
    color: #161C2D;
    font-weight: bold;
    line-height: 65px;
    letter-spacing: -2px;
}
.intro-text p{
     font-size: 19px;
    color: #161C2D;
    line-height: 32px;
    letter-spacing: -0.2px;
}
.btn-intro{
    width: 220px;
    height: 59px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #473BF0;
    border: none;
}
.intro-img{
    margin-bottom: 136px;
}
.i1,.i2,.i3,.i4{
    position: absolute;
}
.i1{
        top: 145px;
    left: 986px;
}
.i3{
   top: 513px;
    left: 1305px;
    z-index: 1;
}
.i2{
   
    top: 507.81px;
    left: 891.26px;
    z-index: 1;
}
.services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 1000px;
    padding-top: 117px;
    position: relative;
}
.services span{
    display: inline-block;
    font-size: 13px;
    color: #F64B4B;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 1.63px;
    padding-bottom: 23px;
}
.services>h1{
     font-size: 36px;
    color: #161C2D;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -1.2px;
    width: 521px;
    text-align: center;
    display: inline-block;
    padding-bottom: 81px;
}
.ser-crds{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 31px;

}
.ser-crds div{
    width:350px;
    height: 483px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color:white;
}
.ser-crds p,h1{
    margin: 0;
}
.ser-crds h1{
         font-size: 24px;
   
    font-weight: bold;
    line-height: 34px;
    letter-spacing: -0.5px;
    padding-bottom:15px ;
     
}
.ser-crds div p{
    width: 296px;
    text-align: center;
    color: rgb(255, 255, 255,0.65);
    padding-bottom: 43px;
}
.ser-crds div:nth-child(1){
    background-color: #68D585;

}
.ser-crds div:nth-child(2){
    background-color: #473BF0;

}
.ser-crds div:nth-child(3){
    background-color: #F64B4B;

}
.ser-crds div button{
    color: white;
           font-size: 17px;
   
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.6px;
    border: none;
    background-color: transparent;
    width: 123px;
    height: 32px;
    text-align: left;
}
.ser-crds img{
    padding-bottom: 41.3px;
}
.i4{
   
     top: 782px;
    left: 1236px;
    z-index: -1;
}