@mixin face-dimensions{
    width: calc-space(500px);
    height: calc-space(500px);
    background-color: $bg-color;
    border-radius: 50%;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
@mixin feature-dimensions($size){
    width: calc-space($size);
    height: calc-space($size);
    border-radius: 50%;
}
@mixin text-properties($size,$color,$let-spac,$lin-hght,$wght)
{
    font-size: $size;
    font-family: $primary-font;
    letter-spacing: $let-spac;
    line-height: $lin-hght;
    font-weight: $wght;
    color:$color;
}